*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Courier New', Courier, monospace;
}

.content{
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    font-size: 5rem;
}